<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        {% block title %}
        <title>CartierYeux</title>
        {% endblock %}
        {% block icon %}
        <link rel="icon" href="https://images.vexels.com/media/users/3/131675/isolated/preview/30a4a09f3393d32f1a8c368373902c26-owl-head-icon-by-vexels.png">
        {% endblock %}
        {% block css_main %}
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
        {% endblock %}
        {% block stylesheet %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
            {% block navbar %}
    <!-- NAVBAR BEGINS -->
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'index' %}"><img src=
                            "https://images.vexels.com/media/users/3/131675/isolated/preview/30a4a09f3393d32f1a8c368373902c26-owl-head-icon-by-vexels.png" 
                                alt="calligraphy-fonts" border="0" style="height: 30px; margin-top: -5px; display: inline;"><img src="https://fontmeme.com/permalink/180526/5793a5e7d98598b124b8f469a5e61fa4.png" alt="calligraphy-fonts" border="0" style="width: 50px; margin-top: -5px; display: inline;"><img src="https://fontmeme.com/permalink/180526/1acfb13a542e51eb9f2ca45f5bd47a6b.png" alt="calligraphy-fonts" border="0" style="width: 50px; margin-top: -7px; display: inline;"></a>
                                {% if user.is_authenticated %}
                                <div><a href="{% url 'view_user' id=user.id %}"><p>{{ user.username }}</p></a></div>
                                {% endif %}
                  </div>
                  <ul class="nav navbar-nav">
                    <li class=""><a href="{% url 'neighborhoods' %}">Hoods</a></li>
                    <li class=""><a href=""></a></li> 
                    {% if request.path == "/view/" %}
                    <li class=""><a href="{% url 'create_neighborhood' %}">Add a Neighborhood</a></li>
                    {% endif %}                   
                    {% if user.is_authenticated %}
                    <li class=""><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                      {% if request.path == "/" %}
                      <li class=""><a data-toggle="modal" data-target="#SignUpIn">Sign Up</a></li>
                      {% else %}
                      <li class=""><a href="{% url 'signup' %}">Sign Up</a></li>
                      {% endif %}
                    {% endif %}
                  </ul>
                </div>
              </nav>
    <!-- NAVBAR ENDS -->
    {% endblock %}
    {% if user.is_authenticated %}
    <div class="content" style="padding-top: 80px;">
    {% else %}
    <div class="content">
    {% endif %}

<!-- Modal -->
<div id="SignUpIn" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="height: 91vh;">
        <div class="SignUp" style="display: inline; float: left; width: 50%; height: 100%; border-right: solid gray 1px;">

            <p>Sign Up!</p>
            <form method="post">
                    {% csrf_token %}
                      {% for field in user_form %}
                      <p>
                        {{ field.label_tag }}<br>
                        <div class="ff">
                        {{ field }}
                        </div>
                        {% if field.help_text %}
                          <small style="display: none">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                      {% endfor %}
                      {% for field in profile_form %}
                      <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                          <small style="display: none">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                      {% endfor %}
                      <!-- <input type="hidden" name="next" value="{{ request.path }}"> -->
                    <button type="submit"  style="border: solid 2px black; border-radius: 10px; margin-top: 5px;">Sign up</button>
                    <p>You will be sent an email with an activation code. You need to activate your account before usage.</p>
                  </form>
        </div>
        <div class="SignIn" style="display: inline; float: left; width: 50%; padding-left: 10px;">
            <p>Already A Member? Log In!</p>
            <div class="form">
                    <form id="login_form" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <p style="font-weight: bold;">Username:</p><input type="text" name="username" value="" size="50" style="width: 20vw; padding-left: 20px;"/>
                            <br />
                            <p style="font-weight: bold;">Password:</p><input type="password" name="password" value="" size="50" style="width: 20vw; padding-left: 20px;"/>
                            <br />
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="submit" value="submit" style="border: solid 2px black; border-radius: 10px; margin-top: 5px;"/>
                            </form>
            </div>
            </div>
      </div>
    </div>

  </div>
</div>
    {% block content %}
    {% endblock %}
    </div>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'JS/showhideform.js' %}"></script>
    </body>
</html>