<!DOCTYPE html>
<html>
    <head>
        <title>Crastinus</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/example.css">        
    </head>
    <body style="padding: 0; margin: 0; height: 100vh; width: 100vw;">
        <div class="left" style="width: 20vh; height: 100vh; float: left; background: rgb(228, 225, 221); padding-left: 3vw; padding-top: 5vh; padding-right: 3vw;">
            <img src="../static/IMG/ICNS/icn2.png" style="width: 4vw;" alt="Crastinus">
            <hr>
            <h5>All</h5>
            <h5>Facebook</h5>
            <h5>Twitter</h5>
            <h5>Instagram</h5>
            <h5>Reddit</h5>
            <hr>
            <h5>Settings</h5>
            <h5>Help</h5>            
        </div>
        <div class="right" style="width: 79.3vw; height: 100vh; float: right; background: #E6E6E6; padding-top: 1vh; padding-left: 5vw;">
            <h1 style="margin-left: 5vw; text-align: left; font-style: italic;">All</h1>
            <div class="notification" style="margin-bottom: 2vh;">
                    <details><summary style="font-weight: bold;"><span class="media" style="font-style: italic">Facebook</span> lorem ipsum</summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
            <div class="notification" style="margin-bottom: 2vh;">
                    <h6 style="margin: 0;">Facebook: lorem ipsum</h6>
                    <p style="font-size: 2vh; margin: 0;">Lorem ipsum amet eliam si dolor</p>
                </div>
            <div class="notification" style="margin-bottom: 2vh;">
                    <h6 style="margin: 0;">Facebook: lorem ipsum</h6>
                    <p style="font-size: 2vh; margin: 0;">Lorem ipsum amet eliam si dolor</p>
                </div>
        </div>

    </body>
</html>