<!DOCTYPE html>
<html>
    <head>
        <title>Crastinus</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/example.css">
        <link rel="icon" href="../static/IMG/ICNS/icn1.png">
        
    </head>
    <body style="padding: 0; margin: 0; height: 100vh; width: 100vw; background: rgba(230, 230, 230, 0.521);">
        <div class="left" style="position: fixed; width: 20vh; height: 100vh; float: left; background: rgb(228, 225, 221); padding-left: 3vw; padding-top: 5vh; padding-right: 3vw;">
            <img src="../static/IMG/ICNS/icn2.png" style="width: 4vw;" alt="Crastinus">
            <hr>
            <h5>All</h5>
            <h5>Facebook</h5>
            <h5>Twitter</h5>
            <h5>Instagram</h5>
            <h5>Reddit</h5>
            <h5>Linkedin</h5>
            <hr>
            <h5>Settings</h5>
            <h5>Help</h5>            
        </div>
        <div class="right" style="width: 100%; padding-left: 20vw; height: 100vh; float: left; background: transparent; padding-top: 1vh;">
            <h1 style="margin-left: 5vw; text-align: left; font-style: italic;">All</h1>

            <div class="notification" style="margin-bottom: 2vh;">
                    <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Facebook</span> James said "I am James" 10 minutes ago<br>
                    </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Instagram</span> Andrew made a new post 15 minutes ago<br>
                        </summary>
                        <a href="fefef"><p>Hover to see photo</p><img src="../static/IMG/ICNS/icn3.png"></a>
                        <p style="margin: 0;">3 comments</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Twitter</span> Ramza said "Check me out!" 10 minutes ago<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>
                <div class="notification" style="margin-bottom: 2vh;">
                        <details><summary><span class="media" style="font-style: italic; font-weight: bold;">Lorem</span> Ipsum<br>
                        </summary><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p></details>
                </div>

    </body>
</html>