{% load socialaccount %}

<h1>Django Allauth Tutorial</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
<a href="{% provider_login_url 'twitter' process='connect' %}">Connect a Twitter account</a><br>
<a href="{% provider_login_url 'facebook' process='connect' %}">Connect a Facebook account</a><br>
<a href="{% provider_login_url 'instagram' process='connect' %}">Connect an Instagram account</a><br>
<a href="{% url 'logout' %}">logout</a><br>
{% if followernum == 1 %}
1 follower
{% else %}
{{ followernum }} followers
{% endif %}
<br>
{% if notifications %}
    {% for n in notifications %}
        {{ n.poster }}, {{ n.text }} {{ n.age }}<br>
    {% endfor %}
{% else %}
You haven't posted anything!
{% endif %}
{% else %}
{% if facebook == True %}
success
{% endif %}
<!-- <a href="{% provider_login_url 'twitter' %}">Twitter Login</a> -->
<a href="{% provider_login_url 'twitter' process='connect' %}">Connect a Twitter account</a>
<a href="{% provider_login_url 'facebook' process='connect' %}">Connect a Facebook account</a>
<a href="{% provider_login_url 'instagram' process='connect' %}">Connect an Instagram account</a>
{% endif %}