<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cras | Home</title>
</head>

<!--Styles-->

<style>
    .container{
        padding: 20%;
        background-color: purple;
        border-radius: 20px;
        text-align: center;
        color: lawngreen;

    }
</style>
    

<!--End styles-->

<body>
    <div class="container">
        <h1>It Works, hooooraay</h1>
    </div>
</body>
</html>