{% extends 'base.html'%} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">

<body background="static/IMG/back1.jpg" style="font-family: 'Bubblegum Sans', cursive;
">
  <div class="container text-center " style="height:360px;     ">
    <h1 style="  font-size:200px;">crastinus</h1>
    <em><p style="color:#34495E; font-size:35px;">All your notifications in one place!, convinient isnt it?</p></em>
  </div>
  <div class="row">
    <div class="col-md-3" style=" padding-left:40px;">
      <div style="background-color:#34495E; color:black; font-size:40px; height:500px; width:300px; border-top-left-radius: 65px;     border-bottom-right-radius: 65px; opacity:0.8;">
        <ul style="list-style-type:none;">
          <li>Instergram</li>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Reddit</li>
          <em><li style="padding-top:200px;"><a href="{% url 'help' %}">Help</a></li></em>

        </ul>

      </div>
    </div>

    <div class="col-md-3">
      <div class="container text-center " style="background-color:#34495E; color:black; width900px;border-top-right-radius: 65px;     border-bottom-left-radius: 58px; opacity:0.8; ">

        <h1>Hey there!
        </h1>
        <h1>Hey there!
         </h1>
        <h1>Hey there!
          </h1>
        <h1>Hey there!
          </h1>
        <h1>Hey there!
           </h1>
        <h1>Hey there!
            </h1>
      </div>
    </div>
  </div>
</body>

{% endblock %}
