{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="background-color" style="height: 85vh; background-color: grey; padding-top: 10px; padding-bottom: 10px; overflow: hidden;">
<div class = "hood" style="background-color: white; height: 100%; border-radius: 10px; padding: 0.1px;">
    <h1 style="text-align: center">Add a Neighborhood</h1>
        <div class = "header" style="height: 250px; width: 100vw;">
            <div style="margin: 0 auto; width: 25vw;">
                <form id="NeighborhoodForm" method="post" action="/create_neighborhood/" enctype="multipart/form-data">
    
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
        
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        <p>{{ field.help_text }}</p>
                        {{ field }}
                        <br>
                    {% endfor %}<br>
        
                    <input type="submit" name="submit" value="Add Neighborhood" style="border: solid 2px black; border-radius: 10px; margin-top: -15px;"/>
                </form> 
            </div>  
</div>
</div>
{% endblock %}
